mainmenu "modbus Bootloader"

choice PROTOCOL_CHOICE
#	select USE_UARTS11
	bool "select protokol"

config PROTOCOL_MODBUS
	bool "modbus"

config PROTOCOL_1B
	bool "one byte"

config PROTOCOL_2B
	bool "two byte"

config PROTOCOL_CAN
	bool "CAN bas"
	select NOUSE_UARTS
endchoice

config NOUSE_UARTS
	bool
	depends on PROTOCOL_CAN

rsource "system/_LCC/Kconfig"